<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav>
         <h1>Quora Posts</h1>
        <button><a href="https://quora-post-or38.onrender.com/posts/new">Creat New Post</a></button>
		<button><a href="https://quora-post-or38.onrender.com/about">About</a></button>
		<button><a href="https://quora-post-or38.onrender.com/contact">Contacts</a></button>
		<button id="dark-mode-toggle">🌙 Dark Mode</button>
	</nav>
	
	<h1>Quora Post</h1>
	<h4>Hi! I am Saurabh Mishra</h4>
	<p>This is a post creating website.</p>
	<h4>About Saurabh Mishra:</h4>
	<p>Saurabh Mishra, a driven and curious mind, hails from the heart of Pratapgarh, Uttar Pradesh. A young tech enthusiast, he’s pursuing his B.Tech in Computer Science and Engineering, exploring the endless possibilities of coding and creation. Saurabh has a flair for web development, already crafting projects like SportFlare and Quora Post that showcase his creativity and skills.

Beyond the screen, he’s a thoughtful son, surprising his mother with heartfelt gestures, and a budding YouTuber with Variable Academy. With a passion for learning, from mastering REST to diving into analytics, Saurabh’s journey is one of growth, ambition, and meaningful connections.

A storyteller in code and spirit, Saurabh is destined to leave his mark wherever he goes! 🚀</p>

<h4>Video lecture</h4>
	<div class="video-box" style="display: flex;">
	    <iframe width="448" height="252" src="https://www.youtube.com/embed/5D2UdLUZ7-g?si=GikT0w9yo4bcFZyr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	    <iframe width="448" height="252" src="https://www.youtube.com/embed/uKpNBbFrs4Q?si=fKP3cEgl9-aH2SPL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<iframe width="448" height="252" src="https://www.youtube.com/embed/Pdq-FBS4VFw?si=04Bb3PikEKv90992" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
	<script src="app.js"></script>
</body>
</html>
